.si-pricing-feature-list {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    background-color: #fff;
    padding: 0 10px;
    background-clip: content-box;
    margin-bottom: 60px;
}
.si-pricing-feature-list h2 {
    font-size: 30px;
    margin: 0;
}
.si-pricing-feature-list header{
    width: 100%;
    margin: 0;
    padding: 15px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    text-align: center;
    border-radius: 3px 3px 0 0;
    color: #333;
}
.si-pricing-feature-list a {
    display: block;
    line-height: 30px;
    margin: 0;
    padding-left: 13px;
    color: gray;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #d9dee1;
    border-right: 1px solid #d9dee1;
}
.si-pricing-feature-list a:hover {
    background-color: #f5f5f5;
    transition: background-color .25s;
    color: gray;
}

.feature-list-pricingPlan.active .pricing-features p:last-child {
  border-radius: 0;
}
.feature-list-pricingPlan.active .price-box {
  opacity: 1;
  height: 100px;
  transition: opacity .2s .2s, height .4s;
}


.feature-list-pricingPlan .price-box {
  height: 0;
  opacity: 0;
  font-size: 0;
  color: #333;
  border: 1px solid #ddd;
  border-top-width: 0;
  border-radius: 0 0 3px 3px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  transition: opacity .4s, height .2s .2s;
}
.feature-list-pricingPlan .price-box > div {
  display: inline-block;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 16px;
  vertical-align: top;
  background-color: #f6f6f6;
  color: #333;
  transition: background-color 0.2s;
}
.no-flexbox .feature-list-pricingPlan .price-box > div {
  display: inline-block;
  padding: 20px 0;
}
.feature-list-pricingPlan .price-box > div.price-monthly {
  border-radius: 0 0 0 3px;
}
.feature-list-pricingPlan .price-box > div.price-yearly {
  border-radius: 0 0 3px 0;
}
.feature-list-pricingPlan .price-box > div.price-yearly:before {
  content: "or";
  display: inline-block;
  height: 24px;
  width: 24px;
  padding: 5px 0;
  text-align: center;
  color: #555;
  font-weight: bold;
  font-size: 15px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.feature-list-pricingPlan .price-box > div:first-child {
  border-right: 1px solid white;
}
.feature-list-pricingPlan .price-box > div:hover {
  background-color: #eee;
}
.feature-list-pricingPlan .price-box > div:hover + .info .biyearly-info {
  font-weight: bold;
}
.feature-list-pricingPlan .price-box .price {
  font-size: 26px;
  color: #333;
  font-weight: bold;
}
.feature-list-pricingPlan .price-box .price-description {
  line-height: 1.3;
  height: 1.3em;
  transition: height 0.2s;
}
.feature-list-pricingPlan .price-box.calculated .price-description:not(:last-child) {
  height: 0;
  overflow: hidden;
}
.feature-list-pricingPlan .price-box:before {
  position: absolute;
  background-color: #eee;
  color: #333;
  line-height: 100px;
  font-size: 19px;
  text-align: center;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.feature-list-pricingPlan .price-box.free:before {
  content: "Free for up to 10 users.";
}
.feature-list-pricingPlan .price-box.free.nonprofit:before {
  content: "Free for up to 20 users.";
}
.feature-list-pricingPlan .price-box.unavailable:before {
  content: "Not available.";
}
.feature-list-pricingPlan .price-box.contact {
  cursor: pointer;
}
.feature-list-pricingPlan .price-box.contact:before {
  content: "Contact us about volume pricing: \A sales@small-improvements.com";
  line-height: 25px;
  padding-top: 23px;
}

.feature-list-pricingPlan p.info {
  position: absolute;
  top: 100%;
  width: 100%;
  display: block;
  font-size: 15px;
  padding: 0;
  margin: 5px 0 0 0;
  line-height: 1.2;
  text-align: center;
  color: #333333;
  opacity: 1;
  transition: opacity 0.2s;
}
.feature-list-pricingPlan p.info i {
  display: none;
}
.feature-list-pricingPlan p.info .biyearly-info {
  display: none;
  transition: all 0.2s;
  opacity: 0;
}
.feature-list-pricingPlan p.info.calculated.discounted i {
  display: inline-block;
}
.feature-list-pricingPlan p.info.calculated .staff-size:after {
  content: " for " attr(data-users) " staff";
  font-weight: bold;
}
.feature-list-pricingPlan p.info.calculated .biyearly-info {
  opacity: 1;
}
.feature-list-pricingPlan p.info.no-price {
  opacity: 0;
}
