.si-pricing-feature-list {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    background-color: #fff;
    padding: 0 10px;
    background-clip: content-box;
    margin-bottom: 60px;
}
.si-pricing-feature-list h2 {
    font-size: 30px;
    margin: 0;
}
.si-pricing-feature-list header{
    width: 100%;
    margin: 0;
    padding: 15px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    text-align: center;
    border-radius: 3px 3px 0 0;
    color: #333;
}
.si-pricing-feature-list a {
    display: block;
    line-height: 30px;
    margin: 0;
    padding-left: 13px;
    color: gray;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #d9dee1;
    border-right: 1px solid #d9dee1;
}
.si-pricing-feature-list a:hover {
    background-color: #f5f5f5;
    transition: background-color .25s;
    color: gray;
}

